DOMAIN=localhost
FRONTEND_HOST=http://localhost:5173
GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=
ENVIRONMENT=local
PROJECT_NAME=Tanilink
STACK_NAME=tanilink
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:5173
SECRET_KEY=change-me
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=change-me
SMTP_HOST=mailcatcher
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
SMTP_TLS=false
SMTP_SSL=false
SMTP_PORT=1025
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
SENTRY_DSN=
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
